
body{
    font-family: 'Open Sans', sans-serif;
}

.loading{
    background: url("../../Img/card.jpg")no-repeat center center;
}

.page-load{
    opacity: 0;
}

.loaded .page-load{
    opacity: 1;
}

.wrap{
    width: inherit;
    overflow: hidden;
    margin: auto;
}

.container-flex{
    width:80%;
    display:flex;
    overflow: hidden;
    margin: auto;
    align-items: center;  
}

.line {
	width:80%;
	background-color:red;
	border:1px solid $main-color;
}

.flex-box{
    width: 100%;
    // display: flex;
    /* overflow: hidden; */
    align-items: center;
    margin: 0;
    justify-content: center;
}


.box-1{
    flex:1;
    align-items: center;
}

.box-2{
    flex:1;
    align-items: center;
}

.div-center{
    align-items: center;
    justify-content: center;
    display:flex;
    width: inherit;
    margin: auto;
    overflow: hidden;
}