// Headers
// Used for transparent navbars



.container-flex{
    width:80%;
    display:flex;
    overflow: hidden;
    margin: auto;
    align-items: center;
    
}

.flex-box{
    width: 100%;
    // display: flex;
    /* overflow: hidden; */
    align-items: center;
    margin: 0;
    justify-content: center;
}

.nav-box{
    position: relative;
    top:-40px;
}

.box-1{
    flex:1;
    align-items: center;
}

.box-2{
    flex:1;
    align-items: center;
}