.fill{
    fill:rgb(255, 255, 255);
}

.icon {
    float: left;
    height:50px;
    widows: 50px;
}

.icon svg{
    height:40px;
    widows: 40px;
    margin-top:5px;
}

.grad-section{
    background: url("../img/blue-white.jpg")
}