.final-section{
	text-align: center;
	background:url("../../Img/blue-white.jpg");
	background-size: cover;
	background-position: center;
}

.final-section .section-h3, .final-section .section-p{
	text-align: center;
}