.laptop-section img.img {
    width: 1000px;
    max-width: 100%;
	height: auto;
	margin-top: 100px;
}

.laptop-section .img-container img.icon {
    height: 100px;
}

.laptop-section hr{
	border: 0.5px solid;
	opacity: 0.2;
}