.section-bg{
	padding:10px 0px 100px 0px;
	background-size:cover ;
	background-position: center; 
}

.section-h3{
	font-size: 40px;
	text-align: left;
	margin: 10px 0px;
	font-weight: 100;
	line-height: 29px;
}

.section-p{
	font-size: 16px;
	text-align: left;
	margin:30px 0px; 
}

.base-section{
	font-family: 'Open Sans', sans-serif;
	color: $section-color;
	padding: 80px 0px;
}


.base-header{
	text-align: center;
	font-size: 70px;
	margin-bottom: 70px;
}

.base-header h1{
	font-size: 65px;
}


.base-line{
	border: 1px solid $main-color;
}

.image img.img {
	max-width: 100%;
	width: 500px;
}

.image img{
	margin:40px 0px;
}

.iphone-section{
	font-family: 'Open Sans', sans-serif;
	background:url("../../Img/blue-white.jpg");
	padding: 100px 0px 0px 0px;
	background-size: cover;
	background-position: top;
	color:$section-color;
}

.iphone-section img{
	height: inherit;
	float: right;
}

.iphone-section .icon{
	width: 70px;
	float: left;
	height: 65px;
}

img.img{
	width: 300px;
	max-width: 100%;
	height: auto;
}

.img-container {
	float: left;
	margin: auto;
	width: 100%;
	padding: 20px 0px;
}

.web-section{
	background:url("../../Img/section-cog-background.png");
	background-size: cover;
	background-position: center;
}

.web-section .image img.img {
	margin: 0;
	width: inherit;
}

.web-section .jumbotron {
    padding: 7px;
	background: #0000001a;
	margin-top:100px;
}

.web-section .img-container img.icon{
	height: 70px;
}

