.web-section{
	background:url("../../Img/section-cog-background.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	.image .section-img {
    max-width: 100%;
    width: 500px;
}
}

.web-section .image .section-img {
	margin: 0;
	width: inherit;
}

.web-section .jumbotron {
  padding: 7px;
	background: #0000001a;
	margin-top:100px;
	max-width: 500px;
	padding: 10px;
}

.web-section .img-container img.icon{
	height: 100px;
}